<style>
		*{ 
			margin:0; 
			padding:0;
		}
		#div_esquerda{
			background-color: red;
                        width: 100px;
			height: 100px;
		}
		#div_direita{
			background-color: blue;
                        width: 100px;
			height: 100px;
		}
	</style>
